:root{

    /* Theme Colors */
    --button: #181818;
    --highlight: #0070f3;
    --background: #ffffff;
    --secondary-background: #f0f0f08e;
    --hairline: #d1dbe0;

    /* Fonts*/
    --primary-font: "Poppins", sans-serif;
    --serif: 'Playfair Display', serif;;
    --secondary-serif: 'Lora', serif;;

    /* Font Colors */
    --primary-color: rgb(48, 48, 48);
    --secondary-color: #6c757d;
    --tertiary-color: #365463;

    /* Misc */
    --box-shadow-prime: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    --box-shadow-light: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    --sidebar-width: 250px;

    --semi-color: rgba(250, 250, 250, 0.5);
}